{
	"config": {
		"title": "Slurm Script Generator",
		"apps_url": "http://localhost/apps.txt"
	},
	"queues": [
		{
			"name": "",
			"cpu": ,
			"memory": ,
			"nodes": 
		},
		{	"name": "",
			"cpu": ,
			"memory":,
			"nodes":
		}
	]
}
